<%= form_for(@theme, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @theme.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
      <h4><%= pluralize(@theme.errors.count, "error") %> prohibió este tema de guardar.</h4>

      <ul>
      <% @theme.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-lg-15">
      <%= f.text_field :name, class: "form-control", placeholder: "Nombre..." %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-s-lg-15">
      <%= f.submit "Guardar", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
