<h2>Registro</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, :placeholder => 'Correo...' %>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> carácteres mínimo)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", :placeholder => 'Contraseña...' %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off" , :placeholder => 'Confirmar Contraseña...'%>
  </div>

  <div class="actions">
    <%= f.submit "Registrarse" %>
  </div>
<% end %>

<%= render "admins/shared/links" %>
