<div class="page-header">
  <% if admin_signed_in? %>
    <%= link_to new_book_copy_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Añadir Ejemplar
    <% end %>
  <% end %>
  
  <h1>Ejemplares</h1>
</div>

<% if admin_signed_in? %>


  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
              <th>Año</th>
              <th>Ubicación</th>
              <th>Libro</th>
              <th>En Préstamo?</th>
              <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%= content_tag_for(:tr, @copies) do |copy| %>
              <td><%= copy.year %></td>
              <td><%= copy.location %></td>
              <td><%= copy.book.title %></td>
              <td>
                <% if copy.loansActive?  %>
                    Sí
                <% else %>
                    No
                <% end %>
              </td>
              <td><%= link_to 'Mostrar', book_copy_path(@book, copy) %></td>
          <td><%= link_to 'Editar', edit_book_copy_path(@book, copy) %></td>
          <td><%= link_to 'Eliminar', book_copy_path(@book,copy), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate @copies %>

  </div>
<% end %>