<div class="jumbotron jumbotron-img">
    <h1>Bienvenidos a la biblioteca FCA</h1> 
</div>

<div class="row">
	<h2>Los libros más leídos</h2>
	<div class="wrap-container">
	  <% @books.each do |book| %>
	    
	    <%= link_to book, :class=>'author', :style => "background-image: url('#{book.avatar.url(:medium)}')" do %>
	      <div class="author-bio">
	        <h4><%= book.title %></h4>
	        <p><%= truncate(book.description, :length => 100) %></p>
	      </div>
	    <% end %>
	  <% end %>
	</div>
</div>

<div class="row">
	<h2>Los autores más relevantes</h2>
	<div class="wrap-container">
		<% @authors.each do |author| %>
			<%= link_to author, :class=>'author', :style => "background-image: url('#{author.avatar.url(:medium)}')" do %>
				<div class="author-bio">
					<h4><%= author.name %></h4>
					<p><b>Cantidad de Libros: </b> <%= author.books.size %></p>
					<p><%= truncate(author.desc, :length => 100) %></p>
				</div>
			<% end %>
		<% end %>
	</div>
</div>

